* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
  background: #020617;
  color: white;
}

/* PRELOADER */
#preloader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  z-index: 9999;
}
.preloader-text {
  fill: transparent;
  stroke: #38bdf8;
  stroke-width: 1px;
  font-size: 40px;
}
.preloader-bar {
  width: 0%;
  height: 8px;
  fill: #38bdf8;
  background: #38bdf8;
  margin-top: 10px;
}
.preloader-percent {
  color: #38bdf8;
  font-size: 18px;
  margin-top: 10px;
}

/* Scroll gigante */
.scroll-wrapper {
  height: 400vh; /* 4 seções */
  pointer-events: none;
}

/* Palco fixo */
.stage {
  position: fixed;
  inset: 0;
}

/* Seções sobrepostas */
section {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
}


.stage > section.projects {
    z-index: 5;
}

.stage > section.about {
    z-index: 4;
}

/* Página About */
.about {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  z-index: 4;
}
.projects,
.skills,
.contact {
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
}

.projects { z-index: 3; }
.skills { z-index: 2; }
.contact { z-index: 1; }

.about-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.about-photo {
  width: 40vw;
  max-width: 600px;
  height: 100vh;
  object-fit: cover;
  opacity: 0.2;
  
}

.about-text h3 {
  font-size: 32px;
  color: #38bdf8;
  margin-bottom: 15px;
  
}

.about-text p {
  color: #cbd5f5;
  margin-bottom: 10px;
  line-height: 1.5;
  padding-right: 20px;
}

.tech-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Página Projetos */
.projects {
  z-index: 1;
  opacity: 0;
  transform: scale(1.2);
}

.projects-title {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(20px, 8vw, 40px);
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #38bdf8;
  pointer-events: none; /* NÃO bloqueia clique no carrossel */
}


/* Carrossel */
.project-carousel {
   width: 100vw;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  z-index: 10;
}

.project-track {
  display: flex;
  gap: 30px;
  cursor: grab;
   width: max-content;
   
}

.project-card {
  
    width: 300px;
    height: 400px;
    background: #0f172a;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    text-decoration: none; /* remove sublinhado do link */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 11;
}
.project-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    
}

.project-card h4 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}

.project-card p {
  margin: 0 15px 15px 15px;
  color: #94a3b8;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* Área dos botões laterais */
.carousel-nav {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}

/* esquerda */
.carousel-nav.prev {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(2,6,23,0.6),
    transparent
  );
}

/* direita */
.carousel-nav.next {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(2,6,23,0.6),
    transparent
  );
}

/* seta */
.carousel-nav::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  opacity: 0.7;
}

.carousel-nav.prev::after {
  content: '‹';
  left: 30px;
}

.carousel-nav.next::after {
  content: '›';
  right: 30px;
}

/* aparece só quando passa o mouse na projects */
.projects:hover .carousel-nav {
  opacity: 1;
}

